<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ITCDB" connectionString="data source=DESKTOP-JRPVVG4;initial catalog=&quot;Traiding Company&quot;;integrated security=True;"/>
  </connectionStrings>
</configuration>